test_V906_Car/V906*
test_V906_Car/*.csv
test_V906_Car/*.dat
test_V906_Car/events.txt
test_V906_Car/*.pdf
test_V906_Car/fit_model*
test_V906_Car/temp*
test_V906_Car/counts_spectra*
test_V906_Car/*.reg
test_V906_Car/*.npy
test_V906_Car/avg_results/
test_V906_Car/lc_results/
test_V906_Car/ts_search_dir/
test_V339_Del/*.csv
test_V339_Del/*.dat
test_V339_Del/events.txt
test_V339_Del/*.pdf
test_V339_Del/fit_model*
test_V339_Del/temp*
test_V339_Del/counts_spectra*
test_V339_Del/*.reg
test_V339_Del/*.npy
test_V339_Del/avg_results/
test_V339_Del/lc_results/
test_V339_Del/ts_search_dir/
test_V339_Del/Figures/
test_V339_Del/grid_results/
test_V339_Del/reset.sh
test_V906_Car/grid_results/
test_V906_Car/lc_results/
test_V906_Car/prune_files/
test_V339_Del/prune_files/
test_V339_Del/*.xml
test_V339_Del/*.log
mkdocs.sh
docs/*
.DS_Store
__pycache__/
temp*
gll*.fit
html_docs/
.vscode/
events.txt